[submodule "secp256k1"]
    path = secp256k1 
    url = https://github.com/ryancdotorg/secp256k1.git
[submodule "scrypt-jane"]
	path = scrypt-jane
	url = https://github.com/ryancdotorg/scrypt-jane.git
