# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

brainflayer
hexln
sha256ln
hex2blf
blfchk
ecmtabgen
filehex
swab256
oneoff
p2shln
hexpdln

# Debug files
*.dSYM/

# misc
old
notes
output
blockchain
scripts
misc
